# Google Apps Script Web App URL
VITE_GAS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbw6hwsbS1sQBJ7m0hB6-c2_F9KbzAFJHWHZTE6-T4N2pjXIG8OpByl4YQ_2Vkrddlz-/exec

# RSVP/관리 시트 URL
VITE_RSVP_SHEET_URL=https://docs.google.com/spreadsheets/d/1zPbH8RcBarPho4miI6BY5wBOpiBb3r6CF77wwvl0ii0/edit

# 식장 사진 업로드 폴더 URL
VITE_PHOTO_UPLOAD_FOLDER_URL=https://drive.google.com/drive/u/0/folders/1PlTvn5v_1mho2c-tc5IYg7aLiIE9qlU1
